body {
  background-color: #ffffffee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 642px;
  height: 642px;
  border: 1px solid #f50303;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  border: 1px solid #1a1919;
}
